@font-face {
  font-family: "Marcellus";
  src:
    url("../fonts/Marcellus/Marcellus-Regular.woff2") format("woff2"),
    url("../fonts/Marcellus/Marcellus-Regular.woff") format("woff"),
    url("../fonts/Marcellus/Marcellus-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src:
    url("../fonts/Karla/Karla-Regular.woff2") format("woff2"),
    url("../fonts/Karla/Karla-Regular.woff") format("woff"),
    url("../fonts/Karla/Karla-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-size: 20px;
}

:root {
  --primary-bgColor: #006400;
  --primary-textColor: white;
  --secundary-bgColor: #00e800;
  --secundary-textColor: black;
  --desktop-width: 1200px;
  --form-bgColor: gray;
}

#skip-link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#skip-link:focus {
left: 2rem;
  top: 2rem;
  width: auto;
  height: auto;
  background-color:var(--secundary-bgColor) ;
  color: var(--secundary-textColor);
  padding: 1rem 2rem;
  border-radius: 10px;
}


.container {
  margin: 0 auto;
  max-width: var(--desktop-width);
}

nav {
  background-color: var(--primary-bgColor);
  padding: 5px;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  li {
    padding: 5px 10px;
    color: var(--primary-textColor);
    &:hover {
      background-color: var(--secundary-bgColor);
      color: var(--secundary-textColor);
      border-radius: 5px;
    }
  }

  a {
    color: inherit;
    font-size: 1.4rem;
  }
}

h1,
h2 {
  font-family: "Marcellus";
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0;
}

h2 {
  font-size: 2rem;
}

header img {
  width: 100%;
}

#seccion_ppal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;

  div {
    padding: 1rem;
    margin: 1rem 0;

    p {
      margin: 0.5rem;
    }

    ol {
      margin-left: 2rem;
    }

    li {
      margin: 0.5rem 0;
    }

    img {
      width: 100%;
    }

    ul {
      list-style: none;
      margin-left: 2rem;
    }
  }
}

.cosasSI {
  color: darkgreen;
}

.cosasSI li::marker {
  content: "\2713  ";
  color: green;
  font-size: 1.2rem;
  font-weight: bold;
  padding-right: 1rem;
}

.cosasNO {
  color: darkred;
}

.cosasNO li::marker {
  content: "\2613  ";
  color: darkred;
  font-size: 1.2rem;
  font-weight: bold;
  padding-right: 1rem;
}

#seccion_form {
  background-color: var(--form-bgColor);
  padding: 2rem 0;

  h2 {
    text-align: center;
  }
}

.goHome a {
  padding: .5rem 1rem;
}
.goHome a:hover, 
.goHome a:focus {
  background-color: var(--secundary-bgColor);
  color: var(--secundary-textColor);
}


/* FORMULARIO */
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  fieldset {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  label {
    display: block;
  }

  input {
    width: 100%;
    padding: 5px 10px;
    font-size: 1.2rem;
  }

  button {
    background-color: var(--primary-bgColor);
    color: var(--primary-textColor);
    padding: .5rem;

    &:hover {
      background-color: var(--secundary-bgColor);
      color: var(--secundary-textColor);
    }
  }
}

.radio {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

/* FOOTER */

footer {
  background-color: var(--primary-bgColor);
  color: var(--primary-textColor);
}

footer > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem 0;

  h2 {
    font-size: 1.2rem;
  }

  ul {
    list-style: none;
  }
  img {

    width: 30%;
  }

  a {
    color: inherit;
    margin: 1rem 0;
  }
}

#siguenos ul {
  display: flex;
  justify-content: space-between;

  img {
    margin-top: 1rem;
  }
}

#nosotros li {
  margin: .5rem 0;
}

#siguenos .goHome {
  margin-top: 1rem;
}